<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      PushApp
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="borrarMensajes()"
                  color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <hr>
  <ion-list *ngIf="mensajes" >
    <ion-item *ngFor="let push of mensajes; let i = index">

      <ion-label>
        <h1 class="title"> {{ push.title }} </h1>
        <h2> {{ push.notificationId }} </h2>
        <p> {{ push.body }} </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-list> -->

    
<!-- 
    <ion-list-header>
      <ion-label>UserID</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{ userId }}</ion-label>
    </ion-item>


    <ion-list-header>
      <ion-label>Pushes</ion-label>
    </ion-list-header>
 -->

  <!-- </ion-list> -->

  

</ion-content>
